* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.saves-container {
    padding-bottom: .5em;
}

.select {
    width: 95%;
    margin: .35em auto;
    display: block;
    border-radius: 2px;
    border: none;
    height: var(--widget-height);
    overflow: hidden;
    word-break: break-all;
    padding-left: 0.55em;
    background: #424242;
}

#gui {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
}